<!DOCTYPE html>
<html lang="en" ng-app="pascalTriangle">
<head>
    <meta charset="UTF-8">
    <title>Pascal Triangle</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="HomeController as home">
    Input number : <input type="text" ng-model="home.$storage.number">
    <draw-pascal number="home.$storage.number"></draw-pascal>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="script.js"></script>
<script src="directive.js"></script>
</body>
</html>